@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content:space-between; */
  
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  /* align-items: center; */
  /* move padding property here instead of ul */
}

.content {
  flex: 1;
  /* add flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color:#eee;
  /* position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%; */
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px 15px;
}

button:hover {
  background: #ddd;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul{
  list-style-type: none;
  display: flex;
  gap: 14px;
  margin: 0;
  padding: 0;
  /* set margin and padding to zero so it would follow .header, .footer instead */
}


a {
  text-decoration: none;
  color: gray;
}

a:hover {
  text-decoration: underline;
}